:root {
    --primary-color: #414242;
    --secondary-color: #0b9bd3;
    --accent-color: #636464;
    --footer-color: #9faaad;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fefffe;
    font-family: 'Lato', sans-serif;
}


.form-container {
    overflow: hidden;
    margin: 0;
    align-items: center;
}


.logo {
    width: 200px;
}

.heading {
    font-weight: 300;
    font-size: 2.625rem;
    color: var(--primary-color);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.form-input {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    outline: none;
    width: 350px;
    font-size: 22px;
    font-weight: 400;
    color: #555;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dedede;
}

input:focus {
    border-bottom: 2px solid var(--secondary-color);
}
.form-input.error {
    border-bottom: 2px solid #c7141a;
}

.form-input.success {
    border-bottom: 2px solid var(--secondary-color);
}

.btn-1 {
    outline: none;
    border: none;
    color: #fefffe;
    background: var(--secondary-color);
    border-radius: 5px;
    font-size: 1.2rem;
}

.btn-1:hover {
    background: #a8d0da;
}

.links-one {
   text-align: center;
}

small {
    color: var(--accent-color);
}

small a {
  color: var(--secondary-color);
}

@media screen and (max-width: 480px) {
    .form-container {
        max-width: 100%;
    }

    input {
        font-size: 16px;
    }

    .links-one a {
        font-size: 12px;
    }
}